get-latest:
	aws s3 cp s3://vegan-recipe-deployments/recipes.tar ./recipes.tar

get-rollback:
	aws s3 cp s3://vegan-recipe-deployments/recipes.rollback.tar ./recipes.tar

deploy:
	rm -rf /vagrant/vegan-recipes
	mkdir /vagrant/vegan-recipes
	tar -xf ./recipes.tar -C /vagrant/vegan-recipes
	restart vegan-recipes-api
	restart vegan-recipes

deploy-recipes: get-latest deploy

rollback-recipes: get-rollback deploy
