<VirtualHost *:80>
  ServerName absoluteorange.com
  ServerAlias www.absoluteorange.com
  ServerAdmin webmaster@localhost
  DocumentRoot {{ document_root }}

  <Directory {{ document_root }}>
    Require all granted
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
  </Directory>

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

<VirtualHost *:80>
  ServerName blog.calloftheforest.com
  ServerAlias blog.calloftheforest.com
  ServerAdmin webmaster@localhost
  DocumentRoot /vagrant/call-of-the-forest-blog

  <Directory /vagrant/call-of-the-forest-blog>
    Require all granted
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
  </Directory>

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

<VirtualHost *:80>
   ServerAdmin webmaster@localhost
   ServerName calloftheforest.com
   ServerAlias recipes.calloftheforest.com www.calloftheforest.com

   ProxyRequests Off
   ProxyPreserveHost On
   ProxyVia Full
   <Proxy *>
      Require all granted
   </Proxy>

   <Location />
      ProxyPass  http://127.0.0.1:3000/
      ProxyPassReverse  http://127.0.0.1:3000/
   </Location>

</VirtualHost>

<VirtualHost *:80>
   ServerAdmin webmaster@localhost
   ServerName ayaplantbased.com
   ServerAlias www.ayaplantbased.com

   ProxyRequests Off
   ProxyPreserveHost On
   ProxyVia Full
   <Proxy *>
      Require all granted
   </Proxy>

   <Location />
      ProxyPass  http://127.0.0.1:3000/aya
      ProxyPassReverse  http://127.0.0.1:3000/aya
   </Location>

</VirtualHost>

<VirtualHost *:80>
   ServerAdmin webmaster@localhost
   ServerName api.calloftheforest.com
   ServerAlias api.calloftheforest.com

   ProxyRequests Off
   ProxyPreserveHost On
   ProxyVia Full
   <Proxy *>
      Require all granted
   </Proxy>

   <Location />
      ProxyPass  http://127.0.0.1:3030/
      ProxyPassReverse  http://127.0.0.1:3030/
   </Location>

</VirtualHost>
