
# Used to Be: Start on Startup
# until we found some mounts weren't ready yet while booting:
start on started mountall
stop on shutdown

# Automatically Respawn:
respawn
respawn limit 99 5

script
    # Not sure why $HOME is needed, but we found that it is:
    export HOME="/root"
    export STORMPATH_CLIENT_APIKEY_ID={{ APIKEY }}
    export STORMPATH_CLIENT_APIKEY_SECRET={{ SECRET }}
    export STORMPATH_APPLICATION_HREF={{ APPLICATION }}
    chdir /vagrant/vegan-recipes
    exec npm run start-prod-api >> /var/log/node.log 2>&1
end script

post-start script

end script
